#navcont {
    padding-top:10px;
    padding-bottom:5px;

    height:100%;
}

#body {
  /* BG pattern from https://subtlepatterns.com/ */
  background:url(../images/footer_lodyas.png) repeat;


}

#about{
/*  background-color: #202020; */

}


.thick-gray-border {
    border-color: #dddfd4;
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
}

.lighpattern{
  background:url(../images/bg.png) repeat;
}

.greypattern{
  background:url(../images/cheap_diagonal_fabric.png) repeat;
}


.jumbotron{
  margin-bottom: 0;
  border-color: #000000;
  border-width: 1px;
  border-style: solid;

}

.margin-top{
  margin-top: 20px;
}

.my-image {
    width: 100%;
}
.link-image {
    width: 10%;
}

.face-image {
    width: 10%;
}

.row{
  margin-top: 40px;
  margin-bottom: 40px

}


.wrap {
    width: 100%;
    background:url(../images/binding_dark.png) repeat;
    border-style: solid;
    border-bottom: 2px solid #C0C0C0;;

}
