#navcont {
    padding-top:10px;
    paddin-bottom:10px;
    background-color: #173e43;
    height:100%;
}

#one {
    padding-top:50px;
    paddin-bottom:50px;
    background-color: #dddfd4;
    height:100%;
}
#two {
    padding-top:10px;
    paddin-bottom:10px;
    background-color: #fae596;
}

#three {
    padding-top:10px;
    paddin-bottom:10px;
    background-color: #3fb0ac;
}

#four {
    padding-top:50px;
    paddin-bottom:50px;
    background-color: #173e43;
    height:100%;
}

.thick-gray-border {
    border-color: #dddfd4;
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
}
.my-image {
    width: 100%;
}
.link-image {
    width: 10%;
}

.face-image {
    width: 10%;
}

.row{
  margin-top: 40px;
  margin-bottom: 40px
  
}

